  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');


*{
    margin: 0px;
    padding: 0px;
}
:root{
    --b1:#003459;
    --b2:#007ea7;
    --b3:#00a8e8;
    --black:#00171f;
    --white:#ffffff;
    --font:'Poppins', sans-serif;
}

.first{
    background: url(first.jpg);
    /* background-repeat: no-repeat; */
    height: 30rem;
    background-size:80%;
    background-position: center;
    position: relative;
}

.ly{
    content: "";
    background-color: rgba(38, 39, 39, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.first h1{
    color: white;
    font-size: 5rem;   
    text-shadow: 3px 5px 3px black;
    font-family: var(--font);
    font-weight: 900;
}
.first span{
    color: white;
    text-shadow: 3px 5px 3px var(--black);
    font-size: 2rem;
    font-family: var(--font);
    font-weight: 600;
    text-align: center;

}
.first button{
    font-family: var(--font);
    font-weight: 600;
    background: transparent;
    padding: .5rem 1rem;
    margin-top: 1.8rem;
    color: #ffffff;
    transition: 0.3s linear;
}
.first button:hover{
    background-color: #007ea7;
    position: relative;
    top: -0.1rem;
}
.learn{
    background-color: #51cbfc;
    padding: 2rem;
}
hr{
    width: 2.8rem;
    margin:1rem auto;
    color: #ffffff;
    background-color: #ffffff;
    box-shadow: 2px 3px 2px black;
    text-shadow: 3px 5px 3px black;
    height: 0.21rem;
}
.learn h2{
    color: #ffffff;
    text-align: center;
    font-family: var(--font);
    text-shadow: 3px 5px 3px black;
    font-size: 2.3rem;
    font-weight: 700;
}
.learn .lsec{
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
}
.learn .point{
    padding: 2rem;
    text-align: center;
}
.point .logo{
    font-size: 4rem;
    margin: 2rem auto;
}
.point .text{
    font-size: 1.2rem;
    font-family: var(--font);
    font-weight: 600;
    color: #003459;
}
.obj{
    background-color: #00171f;
    /* padding:1rem; */
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 3rem;
    justify-content: space-between;
}
.oleft{
    width: 40%;
    padding: 3rem;
    padding-top: 10rem;
    background-color: #00171f;
}
.oleft h2{
    font-family: var(--font);
    color: #ffffff;
    font-size: 3rem;
}
.oright{
    width: 50%;
}

.about{
    background-color: #51cbfc;
    padding: 2rem;
}
.about .lsec{
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
}
.about h2{
    color: #ffffff;
    text-align: center;
    font-family: var(--font);
    text-shadow: 3px 5px 3px black;
    font-size: 2.3rem;
    font-weight: 700;
}
.about .point{
    padding: 2rem;
    text-align: center;
}
.reg{
    background-color: #ffffff;
    padding: 5rem;
    display: flex;
    justify-content: center;
}
.regleft{
    width: 40%;
    height: 30rem;
    background-color: #00171f;
    box-shadow: 4px 5px 10px black;
}
.regright{
    height: 30rem;
    box-shadow: 4px 5px 10px black;
    /* box-shadow: 3px 3px 2px black; */
    width: 40%;
    position: relative;
    top: 2rem;
    left: -2rem;
    background-color: #ffffff;
}
.regleft h1{
    color: #ffffff;
    margin: 5rem 3rem;
    font-weight: 900;
    font-size: 3rem;
    font-family: var(--font);
}
.regright form{
    padding: 3rem;
    margin: 3rem auto;
    width: 50%;
    text-align: center;
}
.regright input{
    display: block; 
    margin: 3rem auto;
    font-family: var(--font);
    text-align: center;
    font-weight: 600;
    border: none;
    font-size: 1rem;
    border-bottom: 2px solid #00171f;
}

.regright button{
    border: 1px solid #00171f;
    font-family: var(--font);
    font-weight: 600;
    background: transparent;
    padding: .5rem 1.2rem;
    margin: 0.5rem auto;
    color: #00171f;
    transition: 0.1s linear;
}
.regright button:hover{
    background-color: #00171f;
    color: #ffffff;
}